body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3e3e42;
    margin: 0px;
    justify-content: space-between;
}

h1 {
    color: whitesmoke;
    font-size: 40px;
    margin: 10px;
}

p {
    color: whitesmoke;
    font-size: 16px;
    margin: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d30;
    width: 100%;
    margin-bottom: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d30;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#git {
    width: 30px;
    height: 100%;
    background-color: transparent;
    transition: 0.7s;
}

#git:hover {
    transition: 0.7s;
    transform: rotate(360deg) scale(1.1);
}

.calc-wrapper {
    background-color: black;
    border: 10px solid rgba(47,47,47,1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(4, 80px);
    gap: 2px;
}

#display {
    grid-column: 1 / -1;
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
    height: 80px;
}